name: Collect mastodon data
on:
  schedule:
    - cron: "50 21 * * *"
  workflow_dispatch:
permissions:
  contents: write
defaults:
  run:
    working-directory: ./tool
jobs:
  update:
    runs-on: ubuntu-latest
    env:
      MASTODON_CLIENT_KEY: ${{ secrets.MASTODON_CLIENT_KEY }}
      MASTODON_CLIENT_SECRET: ${{ secrets.MASTODON_CLIENT_SECRET }}
      MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
      MASTODON_INSTANCE: ${{ secrets.MASTODON_INSTANCE }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Set up Go 1.25
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    - name: Fetch blocked accounts
      run: go run . -- blocks > ../blocked_accounts.txt
    - name: Fetch muted accounts
      run: go run . -- mutes > ../muted_accounts.txt
    - name: Fetch following
      run: go run . -- following > ../following.txt
    - name: Fetch followers
      run: go run . -- followers > ../followers.txt
    - name: Commit results
      run: |
        set -e
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"

        d="$(date --rfc-3339=s)"
        git add --all
        git commit --allow-empty -m "Periodic update: $d"
        git push origin main
